body {
    font-family: 'Anton', sans-serif;
    margin: 0px;
    // color: #fff;
    letter-spacing: normal;

}

a {
    color: #ffffff;
}

.p__promo {
    font-size: 12px;
}

.header__content {
    display: flex;
        align-items: center;
        padding-left: 30px;
         @media screen and (min-width: 1200px) {
            padding-left: 0px;
            justify-content: space-around;
         }
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: center;
    font-size: smaller;
    @media screen and (min-width: 1200px) {
    font-size: medium;
    }       
}

.header__nav:hover {
text-decoration: none;
}

.header__items {
margin-right: 40px;
font-weight: 600;
}

.header__items:hover {
text-decoration: none;
}

.header__links {
  border-bottom: 1px solid #000;
}

.main__promo {
    position: fixed;
    z-index: 6;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43588d;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    color: #FFF;
    height: 40px;
    margin-bottom: 10px;
}

.title__link {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    border: aliceblue;
    border-color: #fff !important;
    font-weight: 500;
    text-transform: none;
    border-bottom: 1px solid;
    display: inline-block;
    text-decoration: none;
    letter-spacing: normal;
    font-variant-ligatures: no-common-ligatures;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    text-align: left;
}

.items__span {
    position: absolute;    color: #fff; top:1%; left:1%;
      background-color: #ff710f;
      padding: 4px 18px;
      text-decoration: none;
      font-size: large;
      border: none;
}

.wrapper__items {
    flex: 1 1 400px;
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 30px;
}

.wrapper__flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.wrapper__items-title {
font-size: 1.4rem;
    line-height: 120%;
    min-height: 22px;font-weight: 500!important;
    color: #000;
 
}

.wrapper__items-price {
    font-size: 14px;
    font-weight: 500!important;
    color: #000;
    
    color: #000;
}

.wrapper__items-desc {
    color: #0d0d0d !important;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

.wrapper__items-promo {
    position: absolute;
    left: 7px;
    top: 5px;
    padding: 2px 5px;
    font-size: 14px;
    color: #008248;
    background-color: #fff;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    
    font-weight: normal;
    letter-spacing: normal;
    height: 20px;
    line-height: 20px;
    padding: 1px 8px;
}

.wrapper__list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper__title {
    font-size: calc(26px + 10*(100vw - 320px)/960);
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 15px;
    text-transform: capitalize;
    /* padding-bottom: 10px; */
    text-align: center;
    color: #fff;
}

.mr20 {
    text-transform: uppercase;
    margin-right: 35px;
}

.button__section {
    border: 2px solid #fff;
    text-transform: uppercase;
          padding: 10px 20px;
          border-radius: 4px;
          display: inline-block;
          letter-spacing: 1px;
          text-shadow: none;
          width: 80%;
          text-align: center;
          background: #0d0d0d !important;
          color: #fff;
          height: 44px;
          line-height: 44px;
          font-weight: normal;
          transition: background .5s ease,color .5s ease;
          z-index: 5;
    @media screen and (min-width:1200px) {
        font-size: 1.3em;
    }   
}

.footer__a-c {
    @media screen and (min-width:1200px) {
margin-left: -130px;
}
}

.prod__wrap {
    margin-top: 0px;
    @media screen and (min-width:1200px) {
    display: flex; flex-wrap: wrap;gap: 35px;justify-content: center;margin-top: 100px;
}
}

.prod__img { 
    width: 385px;
    @media screen and (min-width:1200px) {
    width: 500px;
    } 
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.hero__section {
    background-image: url('../../img/hero.jpg');
  height: 80vh; width: 100%; 
  background-repeat: no-repeat; 
 background-size: 100% 100%;
  position: relative;

  @media screen and (min-width: 1200px) {
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.1), url('../../img/hero.jpg'));
  height: 100vh; width: 100%; 
  background-repeat: no-repeat; 
 background-size: 100% 100%;
  position: relative;
  }
}

.hero__title {
    position:absolute;
    font-size: 48px!important; 
    top: 80%; left:10%;
    line-height: 60px;
    letter-spacing: normal;
    font-weight: 500;

    @media screen and (min-width: 1200px) {
    position:absolute;
    font-size: 48px!important; 
    top: 66%; left:10%;
    line-height: 60px;
    letter-spacing: normal;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.35);
}
}

.header__logo-img {
    width: 60px;
    @media screen and (min-width: 1200px) {
        width: 190px;
    }
}

.header {
        position: fixed;
        z-index: 3;
          background:#1f1f1f;
          width: 100%;top: 5%;
          top:0;
    @media screen and (min-width:1200px) {
        position: fixed;
          width: 100%;
          top: 0;
        
    }
}

.footer__section {
    flex-direction: column;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    // max-width: 1470px;
    width: 100%;
    font-size: 0.99rem;
    height: 50%;
    // border-top: solid 2px #979797;
    @media screen and (min-width:1200px) {
        flex-direction: row;
        padding: 20px;
        
    }
}

.footer__ul {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1rem;
    @media screen and (min-width:1200px) {
       font-size: 1.3rem;
} 
    }

    .wrapper__items-img {
        position: relative; 
    }

    .wrapper__img {
        display: block;
        top: 0%;
        width: 100%;
        min-height: 480px;
        height: 100%; 
        position: relative;
    }
    
    .h1__hidden {
    display: none;
    position: absolute;
    top: -1%;
    left: 0%;
    padding: 0.5em 0;
    margin: 0;
    font-size: 1.6em !important;
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    
    width: 100%;
    text-align: center;
    z-index: 99;
    }

    .h1__hidden:hover {
        display: none;
        position: absolute;
        content: "text";
    top: -5%;
    left: 0%;
    padding: 0.5em 0;
    margin: 0;
    font-size: 1.6em !important;
    color: #fff !important;

    height: 100%;
    
    width: 100%;
    text-align: center;
    z-index: 99;
    }


      
      .hide {
        display: none;
        background: #000;
        color: #fff;
        text-align: center;
      }
      
      .wrapper__items-img:hover .hide {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        content: "text";
    top: 0%;
    left: 0%;
    padding: 0.5em 0;
    margin: 0;
    font-size: 1.6em !important;
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0);
    height: 96%;
    
    width: 100%;
    text-align: center;
    z-index: 99;
      }

      .wrapper__buttons-sec {
        margin: 0;
        text-decoration: none;
        cursor: pointer;
        line-height: 1em;
        left: auto;
        position: relative;
        font-family: inherit;
        color: #444444;
        font-weight: 400;
        overflow: visible;
        background: #fff;
        padding: 10 px 10px;
        display: block;
        text-align: center;
        padding: 14px 10px;
        font-size: 15px;
        letter-spacing: 0em;
      }

    //   .wrapper__buttons-sec:hover {
    //     background-color: #e22c5f;
    //     color: #FFF;
    //   }

      .prod__name {
        color: #0d0d0d;
        font-weight: 400;
        font-size: 2.35em;
      }

      .prod__price {
        font-size: 2.3em;
        color: #353132;
        font-weight: 400;
        margin: 20px 0px;
      }

      .wrap__prod {
        display: flex;
flex-wrap: wrap;
gap: 35px;justify-content: center;
margin-top: 65px;
      }

      .header__color {
        background-color: #f3f3f542;
      }


      .section__form {
        margin-left: 0px;
        display: flex;
        margin-bottom: 50px;
        margin-top: 20px;
        justify-content: center;

        @media screen and (min-width: 1200px){
    margin-left: 0px;
}
    }

    .input__email {
        font-size: 18px;
    display: block;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #000;
    border-radius: 0;
    transition: border-color .25s ease,box-shadow .25s ease;
    }
    